<!-- waiting-for-payment.component.html -->
<div *ngIf="paymentStatus == 'Pending'" class="flex flex-col items-center justify-center min-h-screen bg-white p-1">
  <ng-lottie 
    [options]="loadingOptions"
    width="100%"
    height="350px">
  </ng-lottie>
  <h2 class="text-2xl font-semibold text-gray-700 mt-4">Waiting for Payment</h2>
  <p class="text-gray-500 mt-2">Do not refresh or close the window</p>
</div>

<!-- payment-success.component.html -->
<div *ngIf="paymentStatus == 'Completed'" class="flex flex-col items-center justify-center min-h-screen bg-white p-4">
  <ng-lottie 
    width="100%"
    height="200px"
    [options]="successOptions" >
  </ng-lottie>
  <h2 class="text-2xl font-semibold text-green-600 mt-4">Payment Successful!</h2>
  <p class="text-gray-600 mt-2">Your order has been placed successfully.</p>
  <a routerLink="/orders" class="btn mt-4 px-6 py-2 bg-green-600 text-white rounded-full hover:bg-green-700">View Orders</a>
</div>

<!-- payment-failed.component.html -->
<div *ngIf="paymentStatus == 'Failed'" class="flex flex-col items-center justify-center min-h-screen bg-white p-4">
  <ng-lottie
    width="100%"
    height="200px" 
    [options]="failureOptions">
  </ng-lottie>
  <h2 class="text-2xl font-semibold text-red-600 mt-4">Payment Failed</h2>
  <p class="text-gray-600 mt-2">Something went wrong. Please try again.</p>
  <a routerLink="/checkout" class="btn mt-4 px-6 py-2 bg-red-600 text-white rounded-full hover:bg-red-700">Retry Payment</a>
</div>
